*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
    font-family:'Times New Roman', Times, serif;
    line-height: 1.5;
    height: 100vh;
    width: 100vw;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    background: #0e131a;
    color: #fff;
    height: 70px;
    padding: 20px 20px;
}

.navbar .logo {
    color: #56cbc7;
    font-size: x-large;
    font-style: italic;
    font-weight: bold;
}

.navbar a {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

.navbar a:hover {
    color: #64ffda;
    text-decoration: underline;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    margin-left: 20px;
    list-style-type: none;
}

.content{
    color: #fff;
}

.header{
    min-height: 450px;
}

.hero h1 {
    font-size: 1rem;
    line-height: 1.2;
    color: #64ffda;
    font-weight: bold;
}

.hero h2 {
    color: #ccd6f6;
    font-size: 3rem;
    font-weight: bold;
}

.hero h3 {
    color: #8892b0;
    font-size: 2.5rem;
    font-weight: bold;
}

.image {
    height: 400px;
    width: 400px;
    border-radius: 10px;
}

.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px;
}

.container .hero{
    margin: 20px 20px;
}

.about{
    min-height: 450px;
}

.section-title{
    color:#64ffda;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-top: 25px;
    padding-bottom: 20px;
}

.about .container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 30px 50px;
}

.about-image {
    margin-left: 90px;
}

.about-image .profile-img{
    height: 250px;
    width: 250px;
    border: 3px solid #64ffda;
    border-radius: 80%;
}

.about-image .name{
    color: #8892b0;
    text-align: center;
    margin-bottom: 5px;
}

.about-social a {
    margin: 0 0 0 50px;
}

.about-social a .icons{
    height: 50px;
    width: 50px;
}

.about-social a .icons:hover {
    background-color: #64ffda;
    border-radius: 10px;
}

.about-content {
    color: #8892b0;
    margin-left: 50px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.skills {
    min-height: 450px;
}

.skills .container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 100px;
}

.box-image {
    height: 180px;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.box-image:hover {
    transform: scale(1.1);
}

.box-image h1{
    color: #8892b0;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.box-image h1:hover {
    color: #64ffda;
}

.box-image .skill-image {
    border-radius: 10px;
}

.box-image .js{
    height: 120px;
    width: 120px;
}

.projects {
    min-height: 450px;
}

.projects .section-header, .load-more{
    color: #8892b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.projects .load-more .show-more {
    color: #64ffda;
    background-color: #0a192f;
    border: 1px solid #64ffda;
    border-radius: 10px;
    padding: 1.25rem;
    margin-top: 20px;
}

.projects .load-more .show-more:hover {
    transform: scale(1.1);
}

.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
}

.projects-card{
    border-radius: 10px;
    height: 360px;
    width: 300px;
    margin: 30px;
    padding: 10px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.projects-card:hover {
    transform: scale(1.1);
}

.projects-card .project-folder{
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 50px;
    gap: 50px;
    margin-bottom: 10px;
}

.project-folder {
    margin: 0 20px;
}

.project-folder .icons {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

.project-folder .icons:hover{
    background-color: #fff;
    transform: scale(1.1)
}

.projects-image {
    margin-bottom: 20px;
    overflow: hidden;
    height: 250px;
    border-radius: 5px;
}

.project-image .website-image{
    margin-left: 15px;
    height: 250px;
    width: 250px;
    object-fit: cover;
    border: 2px solid #64ffda;
    border-radius: 10px;
}

.project-content p{
    color: #8892b0;
    text-align: center;
}

.project-content p:hover{
    color: #56cbc7;
}

.contact {
    min-height: 450px;
    margin-top: 50px;
}

.contact .section-header{
    color: #8892b0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.contact .contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 140px auto 60px;
    width: 40%;
}

.btn-btn {
    border: 1px solid #64ffda;
    border-radius: 10px;
    padding: 1.25rem;
    background-color: #0a192f;
    color: #64ffda;
}

.btn-btn:hover {
    transform: scale(1.1);
}

.footer {
    background-color: #0e131a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
}

.footer p {
    color: #8892b0;
    margin-bottom: 10px;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.social-link ul{
    display: flex;
    gap: 30px;
}

.social-link a .icons{
    height: 50px;
    width: 50px;
}

.social-link a .icons:hover {
    background-color: #64ffda;
    border-radius: 10px;
}

/* Media queries */
@media(max-width: 768px) {
    html,body {
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }

    .hamburger .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #fff;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #0e131a;
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }

    .nav-item {
        margin:16px 0
    }

    .nav.active{
        left: 0;
    }

    .header .container {
        flex-direction: column;
        padding: 30px;
        text-align: center;
    }

    .about .container {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .about .about-image {
        margin: 20px;
    }

    .skills .container {
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-top: 20px;
    }
    
    .contact {
        text-align: center;
    }
}





